<!DOCTYPE html>
<html>
  <head>
    <!-- <title><%= title %></title> -->
    <title>Payment</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <img aria-valuemax="Iphone" src="https://imgs.search.brave.com/XkZ94qjDVz-HaI8fWhr7JxqSPnDz8IyKHTV2k5SZDTU/rs:fit:860:0:0/g:ce/aHR0cHM6Ly9tZWRp/YS40cmdvcy5pdC9p/L0FyZ29zLzEyMjMt/bTAwMTQtbTAwNy1t/MDUwLWFzeW0tbTAw/OC1tMDIyLWJyYW5k/c2hvcC1hcHBsZS1p/cGhvbmUtMTQtcHJv/LW1heD93PWF1dG8m/cWx0PTUwJmZtdD1h/dXRvJm5vaXNlcj0w/JmZtdC5qcGVnLmlu/dGVybGFjZWQ9dHJ1/ZSZmbXQuanAyLnFs/dD00MCY" alt="">
    <h3>400$</h3>
    <button id="rzp-button1">Buy Now</button>


  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
  <script src="https://checkout.razorpay.com/v1/checkout.js"></script>
  <script>var orderId ;
    $(document).ready(function(){
        var settings = {
      "url": "/create/orderId",
      "method": "POST",
      "timeout": 0,
      "headers": {
        "Content-Type": "application/json"
      },
      "data": JSON.stringify({
        "amount": "40000"
      }),
    };
    
    //creates new orderId everytime
    $.ajax(settings).done(function (response) {
    
      orderId=response.orderId;
      console.log(orderId);
      $("button").show();

      var options = {
    "key": "rzp_test_RIgj450IMnWsnb", // Enter the Key ID generated from the Dashboard
    "amount": "response.amount", // Amount is in currency subunits. Default currency is INR. Hence, 50000 refers to 50000 paise
    "currency": "INR",
    "name": "Iphone",
    "description": "hogya bhai kharid liya apna mahanga phone",
    "image": "https://imgs.search.brave.com/UgCawJLdO6vpwKfUVM_7QB1ShVHjC_tAgt920QUwfTE/rs:fit:860:0:0/g:ce/aHR0cHM6Ly8xMDAw/bG9nb3MubmV0L3dw/LWNvbnRlbnQvdXBs/b2Fkcy8yMDE3LzAy/L1N5bWJvbC1vZi10/aGUtaVBob25lLWxv/Z28tNTAweDIzOS5q/cGc",
    "order_id": response.id , //This is a sample Order ID. Pass the `id` obtained in the response of Step 1
    "handler": function (response){
        // alert(response.razorpay_payment_id);
        // alert(response.razorpay_order_id);
        // alert(response.razorpay_signature)
    },
    "prefill": {
        "name": "Rishabh Kumar",
        "email": "rishabhkumar6592@gmail.com",
        "contact": "9572863162"
    },
    "notes": {
        "address": "krishna_Corporate_Office"
    },
    "theme": {
        "color": "#3399cc"
        // "color": "red"
    }
};
var rzp1 = new Razorpay(options);
rzp1.on('payment.failed', function (response){
        alert(response.error.code);
        alert(response.error.description);
        alert(response.error.source);
        alert(response.error.step);
        alert(response.error.reason);
        alert(response.error.metadata.order_id);
        alert(response.error.metadata.payment_id);
});
document.getElementById('rzp-button1').onclick = function(e){
    rzp1.open();
    e.preventDefault();
}


    });
    });
    </script>
  </body>
</html>