body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: black;
}

a {
  color: #00B7FF;
}
h3{
  color: white;
  font-size: 20px;
  background-color: cadetblue;
  width: fit-content;
  height: 30px;
  width: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  
}
img{
  height: 40%;
  width: 40%;
  border-radius: 10px;
}
button{
  height: 35px;
  width: 100px;
  border-radius: 3px;
  font-size: 15px;
  border: none;
  font-weight: 600;
  background: linear-gradient(to left, #33ccff 0%, #ff99cc 100%);}
button:hover{
  background-color: #00B7FF;
  color: firebrick;
  transition: 1s;
}